<div class="date">
    <h2 style="width:100%; text-align: center;">Wochenauswahl</h2>
    <button class="btn btn-secondary" id="down" (click)="prev(week)"> << </button>
    <input #week class="datePick" type="week" id="datePicker">
    <button class="btn btn-secondary" id="up" (click)="next(week)"> >> </button>

</div>

<div class="">
    <h2 style="width:100%; text-align: center; margin-top: 10%;">Wochenübersicht</h2>
    <h6 style="width:100%; text-align: center; margin-top: 1%;" class="card-subtitle mb-2 text-muted">An welchen Tagen wurde bereits bestellt</h6>

    <div class="funkyradio navbar">
        <div style="width: 10rem; margin: 1%;" class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox1" disabled/>
            <label for="checkbox1">Monatg</label>
        </div>
        <div style="width: 10rem; margin: 1%;" class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox2" checked disabled/>
            <label for="checkbox2">Dientag</label>
        </div>
        <div style="width: 10rem; margin: 1%;" class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox3" disabled/>
            <label for="checkbox3">Mittwoch</label>
        </div>
        <div style="width: 10rem; margin: 1%;" class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox4" disabled/>
            <label for="checkbox4">Donnerstag</label>
        </div>
        <div style="width: 10rem; margin: 1%;" class="funkyradio-success">
            <input type="checkbox" name="checkbox" id="checkbox5" checked disabled/>
            <label for="checkbox5">Freitag</label>
        </div>
    </div>
</div>

<div style="margin-top: 10%">
    <h2 style="width:100%; text-align: center;">Tage in der Woche:</h2>
    <hr>
    <div class="navbar element">
        <h2 style="width:100%; text-align: center">Montag</h2>
        <div id="day" class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 3%" class="navbar element">
    <h2 style="width:100%; text-align: center">Dienstag</h2>
    <div id="day" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>