<nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
    <div class="container-fluid"><a href="#" class="navbar-brand"><i class="fas fa-bread-slice"></i> Menugate</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div style="background: #37434d" class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a routerLink='/einstellungen' class="nav-link active" style="color:#ffffff;"><i class="fas fa-home"></i> Home</a></li>
                <li role="presentation" class="nav-item"><a routerLink='/einstellungen' class="nav-link active" style="color:#ffffff;"><i class="fas fa-wpexplorer"></i> Explore</a></li>
                <li role="presentation" class="nav-item"><a routerLink='/einstellungen' class="nav-link active" style="color:#ffffff;"><i class="fas fa-star"></i> Features</a></li>
                <li role="presentation" class="nav-item"><a routerLink='/einstellungen' class="nav-link active" style="color:#ffffff;"><i class="fas fa-user-circle"></i> Portfolio</a></li>
                <li role="presentation" class="nav-item"><a routerLink='/einstellungen' class="nav-link active" style="color:#ffffff;"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<hr>

<!-- <hr>
<div class="navbar">
    <ul class="nav nav-tabs navbar">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> <a routerLink='/essen'>Navigation</a></li>
        <li role="presentation" routerLinkActive="active"> <a routerLink='/verwaltung'>Navigation</a></li>
        <li role="presentation" routerLinkActive="active"> <a routerLink='/einstellungen'>Navigation</a></li>
        <li role="presentation" routerLinkActive="active"> <a routerLink='/einstellungen'>Navigation</a></li>

    </ul>
</div> -->

<div class="form-group">
    <div class="switch-toggle switch-3 switch-candy">
        <input id="Tag" name="state-d" type="radio">
        <label for="Tag" routerLink='/tag'>Tag</label>

        <input id="Woche" name="state-d" type="radio">
        <label for="Woche" routerLink='/woche'>Woche</label>

        <input id="Monat" name="state-d" type="radio">
        <label for="Monat" routerLink='/monat'>Monat</label>

        <a></a>
    </div>
</div>

<router-outlet>

</router-outlet>