<div class="date">
    <h2 style="width:100%; text-align: center;">Monatsauswahl</h2>
    <button class="btn btn-secondary" id="down" (click)="prev(week)"> << </button>
    <input type="month" id="datePicker">
    <button class="btn btn-secondary" id="up" (click)="next(week)"> >> </button>

</div>

<div style="margin-top: 3%">
    <div class="navbar element">
        <h2 style="width:100%; text-align: center">KW 01</h2>
        <div id="day" class="card" style="width: 10rem; height: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Monatg</h5>
                <a href="#" class="card-link">zur Bestellung</a>
            </div>
        </div>
        <div id="day" class="card" style="width: 10rem; height: 10rem;">
            <div class="card-body">
                <input type="checkbox" name="checkbox" id="checkbox4" disabled/>

                <h5 class="card-title">Monatg</h5>
                <a href="#" class="card-link">zur Bestellung</a>
            </div>
        </div>
        <div id="day" class="card" style="width: 10rem; height: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Monatg</h5>
                <a href="#" class="card-link">zur Bestellung</a>
            </div>
        </div>
        <div id="day" class="card" style="width: 10rem; height: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Monatg</h5>
                <a href="#" class="card-link">zur Bestellung</a>
            </div>
        </div>
        <div id="day" class="card" style="width: 10rem; height: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Monatg</h5>
                <a href="#" class="card-link">zur Bestellung</a>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 3%" class="navbar element">
    <h2 style="width:100%; text-align: center">KW 02</h2>
    <div id="day" class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Monatg</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Dienstag</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Mittwoch</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Donnerstag</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Freitag</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>